extends layout

block content
  div.container(ng-controller="teamSteriaController", ng-init="init(#{JSON.stringify(users)})")
    h1= title
    ol
      li(ng-repeat="user in users") {{user.name}} har {{user.sum}} poeng!