doctype 5
html(ng-app)
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        script(type='text/javascript', src='/vendor/angular/angular.js')
        block head
    body
        block content